<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Droxic_Orderinfo>
            <version>0.1.0</version>
        </Droxic_Orderinfo>
    </modules>
    <global>
        <helpers>
            <orderinfo>
                <class>Droxic_Orderinfo_Helper</class>
            </orderinfo>
        </helpers>
        <models>
            <droxic_orderinfo>
                <class>Droxic_Orderinfo_Model</class>
            </droxic_orderinfo>
        </models>
        <resources>
            <droxic_orderinfo_setup>
                <setup>
                    <module>Droxic_Orderinfo</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </droxic_orderinfo_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <droxic_orderinfo>
                        <class>droxic_orderinfo/observer</class>
                        <method>exportOrder</method>
                    </droxic_orderinfo>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>
