<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <backend translate="label">
                    <label>Backend</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <droxic_api_url translate="label">
                            <label>Droxic API URL</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </droxic_api_url>
                    </fields>
                </backend>
            </groups>
        </catalog>
    </sections>
</config> 